.app {
  display: flex;
}

.pageTitle {
  margin-top: 20px;
  margin-left: 240px; /* Adjust according to sidebar width */
  color: white;
  font-size: 40px;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #0f0d0d;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav button {
  margin-bottom: 10px;
}
